* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h2 {
  margin: 30px 0 10px;
}

.slider {
  position: relative;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: inline-block;
  padding: 100px 150px;
  color: #eee;
  font-size: 2rem;
  font-weight: bold;
}

/* 1st */
.first {
  width: fit-content;
}

.first .imgWrap .imgList {
  display: flex;
  transition: 0.6s;
}

.first .imgWrap .imgList li {
  background-color: darkseagreen;
}

.first .imgWrap {
  width: 365px;
  height: 236px;
  border: 1px solid red;
  overflow: hidden;
}

.first .dot-controler {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%); /*자기 width의 반만큼 마이너스 이동*/
}

.first .dot-controler .dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: white;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 2.5px;
}

.first .dot-controler .dot.active {
  background-color: royalblue;
}

/* 2st */
.second {
  width: fit-content;
}

.second .imgWrap {
  width: 365px;
  height: 236px;
  overflow: hidden;
}

.second .imgWrap .imgList {
  display: flex;
}

.second .imgWrap .imgList li {
  background-color: lightskyblue;
}

.second .btn {
  display: inline-block;
  position: absolute;
  font-size: 2.5rem;
  bottom: 50%;
  transform: translateY(50%);
  cursor: pointer;
}

.second .left {
  left: 5px;
}

.second .right {
  right: 5px;
}

/*third*/
.third {
  width: fit-content;
}

.third .imgWrap {
  width: 365px;
  height: 236px;
  overflow: hidden;
}

.third .imgWrap .imgList {
  display: flex;
}

.third .imgWrap .imgList li {
  background-color: steelblue;
}

.third .pagination {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}

.third .pagination .page {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: white;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 2.5px;
}

.third .arrow {
  font-size: 2.5em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.third .pre {
  left: 5px;
}

.third .next {
  right: 5px;
}
