@charset "utf-8";

body {
  width: 100%;
}

.container {
  /* background-color: rgba(255, 255, 255, 0.3); */
  width: 990px;
  height: inherit;
  margin: 0 auto;
}

/* Skip Navigation */
.skip-nav {
  position: relative;
}

.skip-nav a {
  background-color: #333;
  position: absolute;
  top: -100px;
  left: 0;
  padding: 5px 10px;
  border: 1px solid #ccc;
  color: #eee;
  font-size: 15px;
  line-height: 1.764705882;
}

.skip-nav a:active,
.skip-nav a:focus {
  top: 0;
}

/* Header */
.header {
  background: url("../img/header_bg.jpg") repeat-x center top;
  width: 100%;
  height: 325px;
}

/* Header - Nav */
.header-nav {
  text-align: right;
}

.header-nav a {
  display: inline-block;
  padding: 10px;
  color: #fff;
}

.header-nav a:hover {
  color: #666;
}

/* Header - Title */
.header-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  color: #fff;
}

.header-title h1 {
  background-color: #4aa8d4;
  padding: 10px 20px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
}

.header-title a {
  background-color: #2698cb;
  display: block;
  padding: 10px 20px;
  margin-top: -5px;
  font-size: 18px;
  color: #fff;
}

.header-title a:hover {
  text-decoration: underline;
}

/* Header - icon */
.header-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-icon a.icon {
  background: url("../img/icon.png");
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 5px;
}

.header-icon a.icon:hover {
  background-position-x: -60px;
}

.header-icon a.icon1 {
  background-position: 0 0;
}

.header-icon a.icon2 {
  background-position: 0 -60px;
}

.header-icon a.icon3 {
  background-position: 0 -120px;
}

.header-icon a.icon4 {
  background-position: 0 -180px;
}

/* Contents */
.contents {
  width: 100%;
  height: 800px;
}

/* Content Nav */
.content-nav {
  background-color: #f6fdff;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}

.content-nav .container {
  display: flex;
  justify-content: space-between;
}

.content-nav .menu h3 {
  font-size: 18px;
  color: #25a2d0;
  margin-bottom: 4px;
}

.content-nav .menu ol li {
  float: left;
  width: 50%;
}

.content-nav .menu:last-child ol li {
  float: none;
  width: auto;
}

.content-nav .menu ol li a {
  font-size: 14px;
}

.content-nav .menu ol li a:hover {
  text-decoration: underline;
}

/* Content Title */
.content-title {
  background-color: #eaf7fd;
  text-align: center;
}

.content-title .container {
  position: relative;
}

.content-title h2 {
  padding: 15px 0;
  color: #2c94c4;
  font-family: "Nanum Brush Script", cursive;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 2px;
}

.content-title button {
  background: url("../img/icon.png") no-repeat 0 -600px;
  position: absolute;
  top: 50%;
  right: 0;
  width: 60px;
  height: 60px;
  transform: translateY(-50%);
}

.content-title button:hover {
  background-position-x: -60px;
}

/* Content Banner */
.content-banner {
  background-color: #dceff7;
  padding: 20px 0;
}

.content-banner .container {
  position: relative;
}

.content-banner .container button {
  background: url("../img/icon.png") no-repeat;
  position: absolute;
  top: 50%;
  width: 43px;
  height: 43px;
  transform: translateY(-50%);
}

.content-banner .container .prev {
  left: -60px;
  background-position: -150px 0;
}

.content-banner .container .prev:hover {
  background-position: -193px 0;
}

.content-banner .container .next {
  right: -60px;
  background-position: -150px -43px;
}

.content-banner .container .next:hover {
  background-position: -193px -43px;
}

.banner-slide {
  display: flex;
  justify-content: space-between;
}

.banner-slide li {
  margin: 0 8px;
}

.banner-slide li a {
  display: block;
}

.banner-slide li a img {
  display: block;
  border: 4px solid #dcdcdc;
}

.banner-slide li a img:hover {
  border-color: #98bcdc;
}

.content {
  background-color: #666;
}

/* Footer */
.footer {
  background-color: #333;
  width: 100%;
  height: 200px;
}
