body {
  background-color: black;
  overflow: hidden;
  margin: 0;
}

.line {
  position: absolute;
  background-color: aliceblue;
}

.horozontal {
  width: 100%;
  height: 1px;
}

.vertical {
  width: 1px;
  height: 100%;
}

.target {
  position: absolute;
  width: 100px;
  height: 100px;
}

.coordinates {
  position: absolute;
  font-size: 18pt;
  color: aliceblue;
  margin: 20px;
}
